# vim
*.swp

# Compiled
./vitae
vitae_debug
bin
*.o
*.so
*.a
android/obj
android/assets
android/libs
android/xxx.map

# profile output
android_profile_results
profile_results
android_gmon.out
gmon.out

#android local properties
android/gen/R.java.d
android/local.properties
